!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Warranty Manager
    meta(name='viewport', content='width=device-width, height=device-height,initial-scale=1.0')
    meta(name='description', content='node.js experimet to manage your device warranty')
    meta(name='author', content='anand sunderraman')
    link(href='http://netdna.bootstrapcdn.com/bootswatch/2.1.0/united/bootstrap.min.css', rel='stylesheet')
    link(href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='/stylesheets/css/datepicker.css', rel='stylesheet')
    link(href='/stylesheets/css/zimble.css', rel='stylesheet')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a#home.brand(href='') Zimble
          ul.nav.pull-right.hidden-phone
             li
                if (typeof(email) !== undefined && email != '') 
                  a#email(href='#email') #{email}	
                else (typeof(googleLoginURI) !== undefined && googleLoginURI != '') 
                  a#login(href ='#{googleLoginURI}') 
                    | Login With &nbsp;
                    img(src='/stylesheets/img/google.png')
    #home_page.container
      .row
        .offset2.span2.label.label-info.hidden-phone
          .intro
            h1 ?
        #what.span5.label.label-info
          h3  What's It
          br
          .intro_text
            ul.unstyled
              li Utility To Store Device / Gadget Info
              li Maintain Service Log 
              li Get Reminders 
              li Everything Online !!
              li
                a#example.intro_link
                  | See Example
      br
      .row
        #diff.offset2.span5.label.label-info
          h3  How's It Built
          br
          .intro_text
            ul.unstyled
              li
                a.intro_link(href='http://nodejs.org/')
                  | NodeJS
              li
                a.intro_link(href='http://twitter.github.com/bootstrap/')
                  | Twitter Bootstrap
              li
                a.intro_link(href='https://developers.google.com/accounts/docs/OAuth2')
                  | Google OAuth2.0
              li
                a.intro_link(href='https://developers.google.com/google-apps/calendar/')
                  | Google Spreadsheet API
              li
                a.intro_link(href='https://developers.google.com/google-apps/spreadsheets/')
                  | Google Calendar API
        .span2.label.label-info.hidden-phone
          .intro
            h1 !
      br
      .row
        .offset2.span2.label.label-info.hidden-phone
          .intro2
            h1 #
        #how.span5.label.label-info
          h3  What's Cool
          br
          .intro_text
            ul.unstyled
              li Data In YOUR Google Spreadsheets
              li Reminders In YOUR Google Calendar
              li Data Privacy
      br
      .row
        #who.offset2.span5.label.label-info
          h3  Contact Me
          br
          .intro_text
            ul.unstyled
              li celestialcitizen@gmail.com
              li Experimenting On NodeJS
              li Built It Just For FUN !!
        .span2.label.label-info.hidden-phone
          .intro2
            h1 @
      br
    #account_page.container(style='display: none;')
      //
        div class="container" id="account_page"
      .row
        //
           SIde Menu 
        #device_list_panel.offset2.span8
          #load_alert.alert
            h4
              | Loading Data ...
              img(src='/stylesheets/img/ajax-loader.gif')
          table#device-table.table.table-hover.table-bordered
            thead
              tr
                th.label.label-info.span3
                  | Device Name
                th.label.label-info.span1
                  | Edit
                th.label.label-info.span1
                  | Delete
            tbody
          button#add_device_button.btn.btn-primary.span2 Add Device
          a.btn.btn-primary.span2#spreadsheet_link(href='') View Spreadsheet
          //
            button id="save_device" class="btn btn-primary span2">Save</button
    #add_device_modal.container(style='display: none;')
      .row
        .offset2.span8
          #add_device_err.alert.alert-block.alert-error.fade.in.hide
            h4.alert-heading Please Fill In All Fields 
          #save_alert.alert(style='display: none;')
          fieldset
            legend  Device Details 
            form.form-horizontal
              .control-group
                label.control-label(for='dev_name') Device Name
                .controls
                  input#dev_name(type='text', placeholder='Device Name')
              .control-group
                label.control-label(for='p_date') Purchase Date
                .controls
                  input#p_date.date(type='text', placeholder='Purchase Date', readonly='readonly')
              .control-group
                label.control-label(for='e_date') Expiry Date
                .controls
                  input#e_date.date(type='text', placeholder='Expiry Date', readonly='readonly')
              .control-group
                label.control-label(for='notes') Notes
                .controls
                  textarea#notes(rows='3', placeholder='Notes')
              .control-group
                .controls
                  label.checkbox
                    input#e_alert(type='checkbox')
                    | Calendar Alert
              .control-group
                .controls
                  a#ok_btn.btn.pull-left(href='') Add
                  a#cancel_btn.btn.btn-primary.pull-left(href='') Cancel
    #example_data.container(style='display: none;')
      .row
        .offset2.span8
          a#back_home.btn.btn-primary.pull-right(href='')
            i.icon-home
            | Home
      .row
        .offset2.span8
          ul.nav.nav-tabs
            li.active
              a(href='#dev_info', data-toggle='tab') Device Info 
            li
              a(href='#service_log', data-toggle='tab') Service Log
          .tab-content
            #dev_info.tab-pane.fade.in.active
              .alert.alert-info
                h4  Example For Storing Device Info
                br
                p
                  strong   Device Name   
                  | - can be whatever name you choose. eg.
                  strong  Sony Xperia Mobile 
                  br
                  strong   Purchase Date  
                  | - date a device was purchased eg.
                  strong  12/12/2012 
                  br
                  strong   Expiry Date  
                  | - date warranty of the device expires eg.
                  strong  12/6/2013 
                  br
                  strong   Notes  
                  | - can contain comments for personal reference
                  br
                  strong   Calendar Alert  
                  | -  if checked, creates an event in Google Calendar, to indicate the completion of warranty period
                  br
            #service_log.tab-pane.fade.in
              .alert.alert-info
                h4  Example For Storing Service Info
                br
                p
                  strong   Device Name  
                  | -  device / gadget / item that was serviced eg.
                  strong  Bajaj Pulsar 
                  br
                  strong   Purchase Date  
                  | -  date it was serviced eg.
                  strong  12/12/2012 
                  br
                  strong   Expiry Date  
                  | - date it is next due for service eg.
                  strong  12/3/2013 
                  br
                  strong   Notes  
                  | - can contain comments for personal reference. eg.
                  strong  Tyres changed etc. 
                  br
                  strong   Calendar Alert  
                  | - if checked, creates an event in Google Calendar for the next service due date
                  br
    .navbar.navbar-fixed-bottom.visible-phone
      .navbar-inner
        .container.footer
          ul.nav
             li
                if (typeof(email) !== undefined && email != '') 
                  a#email(href='#email') #{email}	
                else (typeof(googleLoginURI) !== undefined && googleLoginURI != '') 
                  a#login(href ='#{googleLoginURI}') 
                    | Login With &nbsp;
                    img(src='/stylesheets/img/google.png')
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
    script(src='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js')
    script(src='/stylesheets/js/bootstrap-datepicker.js')
    script(src='/stylesheets/js/warranty_manager.js')
    script(src='/stylesheets/js/moment.min.js')
